.App {
  display: flex;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.toDoList {
  max-width: 300px;
  width: 100%;
}

.App > div {
  margin-right: 50px;
}

.required-field {
  color: red;
  font-weight: 700;
  margin-top: 5px;
}

input {
  outline: none;
}

.input-required {
  border-color: red;
  position: relative;
}

.active-filter {
  border-color: black;
  background-color: blueviolet;
  color: white;
}

.doneTask {
  opacity: .5;
}

.inProcess {
  color: #3f51b5;
  font-weight: 700;
  border-bottom: 1px solid #3f51b5;
}

.iconTrash {
  margin-left: auto !important;
}

.listItem {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  transition: background-color .15s ease-in-out;
  border-radius: 5px;
  position: relative;
  /*cursor: url('https://iconarchive.com/show/outline-icons-by-iconsmind/Pen-icon.png'), default;*/
}

.listItem:nth-child(odd) {
  background-color: #f6f6f6;
}

.listItem:hover {
  background-color: #eefceb;
}

.listWrapper {
  padding: 0;
}

.itemCheckBox {
  margin-right: 15px;
}

.listInputAria {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addNewList {
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.headerWrapper {
  position: relative;
}

.headerPreloader {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

.toDoListsWrapper {
  position: relative;
  padding: 15px;
  width: 320px;
}

.toDoListsWrapper::before,
.listItem::before {
  content: '';
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 3;
}

.toDoListsWrapper.entityRequest::before,
.listItem.entityRequest::before {
  display: block;
}